spring:
  application:
    name: discovery-server

# Eureka server: không đăng ký chính nó, không fetch registry
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance:
    hostname: localhost

server:
  port: 8761